* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #A7CFE9;
    display: flex;
}

.game-board {
    
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid lime;
    margin: auto;
    perspective: 1000px
}

.game-card:active {
    transform: scale(.97);
    
    
}

.game-card {
    height: 20%;
    width: 15%;
    position: relative; 
    margin: 5px;
    transform-style: preserve-3d;
    transition: transform 0.5s;

}

.game-card.flip {
    transform: rotateY(180deg);
}


.card-front, .card-back {
   Height: 100%;
   width: 100%;
   position: absolute;
   padding: 5px;
   backface-visibility: hidden;
   
   
}

.card-front {
    transform: rotateY(180deg);
}


